Por lo tanto, en este ejercicio nos queda por limpiar las columnas de age y species, as√≠ que manos a la obra. Vamos a ver que podemos hacer para cada una de las columnas y os dejaremos algunas pistas üòâ.

1. Columna de species: si exploramos esta columna en detalle nos podemos dar cuenta que tenemos muchos valores √∫nicos y esto hace que sea muy dif√≠cil trabajar con esta columna. Lo que vamos a hacer es clasificar los tiburones en 5 especies diferentes, las m√°s comunes, que incluyen el tibur√≥n blanco (White), el tibur√≥n tigre (Tiger ), el tibur√≥n gris (Grey), el tibur√≥n lim√≥n (Lemon) y el tibur√≥n toro (Bull). El resto de las especies las incluiremos en un √∫nico grupo que podremos llamar "Unspecified". Ahora nos podemos sentir un poco abrumadas y no saber como enfrentarnos a este reto, pero don't worry, os dejamos por aqu√≠ unas üí° pistas üí° para que os ayuden a entender c√≥mo hacerlo.

* Los valores de las columnas son strings por lo que podremos usar regex para buscar palabras clave en cada celda y asignarlo a una de las categor√≠as que hemos definido previamente.
```python
# imaginemos que el valor de una celda es el siguiente
‚Äã
'White shark, 3.5 m'
‚Äã
# tendremos que buscar el patr√≥n de regex que nos permita extraer White shark de ese string y que nos devuelva solo White shark. 
# Un patr√≥n que podriamos usar es: 
‚Äã
patron_blanco = r".*[Ww](hite|HITE).*" # esto podr√≠a ser as√≠ porque puede estar en may√∫sculas o en min√∫sculas. 
‚Äã
# de la misma forma que hemos sacado el patron para el tibur√≥n blanco, tendremos que sacar los patrones para las otras 4 especies que queremos "encontrar". 
```


* Tendremos que crearnos una funci√≥n que aplicaremos sobre nuestra columna species_ para que nos devuelva una nueva columna con los valores clasificados en funci√≥n de los patrones de regex que hayamos definido.

In [1]:
import pandas as pd
import numpy as np
import sidetable
import re

In [4]:
df = pd.read_csv('attacks_limpieza_1.csv', index_col = 0)
df.head(1)

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,date,month,fatal_y/n,sex_m_f
0,2018.06.25,2018.0,Boating,usa,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,25-Jun-2018,Jun,N,F

In [15]:
# Vamos a sacar los patrones regex da cada especie.
# Para ello, eliminamos temporalmente los nulos para poder filtrar las apariciones de cada tibur√≥n
# Y as√≠ sacar el patr√≥n lo m√°s preciso posible

col_species = df['species_'].dropna().reset_index()
col_species

      index                                           species_
0         0                                        White shark
1         1                                        Tiger shark
2         2                                     Bull shark, 6'
3         3                                    Grey reef shark
4         4                                   Invalid incident
...     ...                                                ...
1541   1646                                    12' tiger shark
1542   1663                                       Blue pointer
1543   1664                                       Blue pointer
1544   1665                                      Blue pointers
1545   1666  Said to involve a grey nurse shark that leapt ...

[1546 rows x 2 columns]

In [18]:
col_species[col_species['species_'].str.contains('tiger', case=False)]['species_'].unique()

array(['Tiger shark', "Tiger shark, 12'", 'Tiger shark, 8 to 10 feet',
       "Tiger shark, 10'", "Tiger shark, 10' ", 'Tiger shark, 2.5 m',
       "Tiger shark, 14'", "Tiger shark, 7'", "Tiger shark, 13' ",
       "Tiger shark, 13'", 'Sandtiger shark', 'Tiger shark, 8 to 12 feet',
       'Tiger shark, 3.5 m', "Tiger shark, 10' to 12'",
       'Tiger shark, 3m ', 'Tiger shark?', "Tiger shark, 8' to 10' ",
       'Tiger shark, 4.8 m', "Tiger shark, 15'", "Tiger shark, 6'",
       "Tiger shark, 8'", "Tiger shark, 10' to 12' ",
       "Tiger shark, 10'  ", 'Tiger shark, 3m',
       'Allegedly a 4 m tiger shark', 'Tiger shark, 2m',
       "Possibly a 5' to 6' sandtiger shark", ' Tiger shark, 2.8m',
       "Sandtiger shark, 4' to 5'", "Sandtiger shark, 8'",
       "Tiger shark, 14' ", "6' to 8' shark, possibly a tiger shark",
       "Tiger shark, 8' to 12'", "Tiger shark, 5' ",
       "Tiger shark, less than 10'", "Tiger shark, 3 m [10']",
       "Sandtiger shark, 2.1 m [7'] ",
       "Tiger shark, 2.4 m to 3.7 m [8' to 12'] ",
       'Thought to involve a 2.5 m bull or tiger shark',
       'Tiger shark, 1.5 m ', "Tiger shark, 2.4 m to 3 m [8' to 10'] ",
       "Tiger shark, 4 m [13']  ?",
       'Possibly a bull shark or tiger shark', "Tiger shark, 1.5 m [5']k",
       'Bull or tiger shark', "Tiger shark, 1.8 m [6'] ",
       "Tiger shark, 1.8 m [6']",
       "Tiger shark, 1.8 m to 2.4 m [6' to 8'] ",
       "Tiger shark, 3 m [10'] ",
       'Tiger shark, 3.7 m to 4.5 m [12\' to 14\'9"]  ',
       "Tiger shark, 0.9 m to 1.5 m [3' to 5'] ?",
       "Tiger shark, 2.5 m [8.25']", 'Bronze whaler or tiger shark',
       "Tiger shark, 4 m to 4.3 m [13' to 14'] ",
       "Tiger shark, 2.7m  [9']", 'Tiger shark, 2m to 3m ',
       'Tiger shark, 4.5 m [14\'9"]', "Tiger shark, 2.4 m [8'] ",
       'Possibly a tiger shark', 'Tiger shark, 300-kg [662-lb] ',
       "Tiger shark, 3.7 m [12'] ",
       'Tiger shark caught 6 days later with diver\x92s remains in its gut',
       'Thought to involve a tiger shark',
       "Tiger shark, 3.7 m [12'], (tooth fragment recovered from wound)",
       "Tiger shark, 2.4 m [8']",
       "Tiger shark, 3 m to 4.9 m [10' to 16'] ",
       "Tiger shark, 3 m to 3.7 m [10' to 12'] ",
       "Tiger shark, 4.3 m [14'] ",
       "Tiger shark, 2.4 m 3.4 m [8' to 11']  ",
       "Tiger shark, 3 to 4 m [10' to 13'] ", "Tiger shark, >3 m [10']",
       'Tiger shark, 3 m ', "Tiger shark, 4 m [13'] ",
       'Tiger shark, 4 m ', "Tiger shark, 5 m [16.5']",
       'Said to involve a tiger shark or a hammerhead shark',
       "Tiger shark, 2.1 m [7']", 'Tiger shark, 2.5 m ',
       "Tiger shark, 6' ", 'Tiger shark, tooth fragment recovered',
       ">1.2 m [4'] tiger shark", "Tiger shark, 3.7 m [12']",
       "Tiger shark, 4.6 m to 7.6 m [15' to 25'] ",
       "Tiger shark, 1.5 m to 1.8 m [5' to 6'] ", 'Tiger shark, <2 m TL',
       "2.4 m [8'] tiger shark caught 40 hours later with shorts of the boy in its gut",
       "Tiger shark, 3.7 m to 4.3 m  [12' to 14']",
       'Tiger shark,  3.6 m [11\'9"], 850-kg [1874-lb] female, contained Girvan\'s remains ',
       "Tiger shark, 9' to 10' ", "Tiger shark, 4.6 m [15'] ",
       "Tiger shark, 1.5 m [5'] ", "Tiger shark, 4 m [13'] female",
       "12' tiger shark"], dtype=object)

In [ ]:
def clasif_especies (fila):
    
    patron_blanco = r".*[Ww](hite|HITE).*"
    if re.findall(patron_blanco, fila):
        fila.replace(fila, 'white shark')
    elif


2. Columna de age: es una columna de tipo string pero deber√≠a ser de tipo integer. Adem√°s, en esta columna nos vamos a encontrar con algunos errores tipogr√°ficos, estos incluyen:
* Edad en formato string
* Edades separadas por &, or, to, >
* Edades con ?

Vamos con algunas üí° pistas üí° para que os ayuden a entender c√≥mo hacerlo:
* Primero tendremos que eliminar todos esos s√≠mbolos especiales que nos aparecen. De nuevo, podremos usar regex para extraer unicamente los n√∫meros que es lo que nos interesa. Usar este regex en una funci√≥n para sacar solo los n√∫meros.

* Puede que os salga un error similar a este:
>```python
>TypeError: expected string or bytes-like object
>```
Para solucionar este problema, antes de nada tendr√©is que ejecutar este c√≥digo para que no os de error:
>```python
>df['nombre_columna'] = df['nombre_columna'].astype(str)
>```

* Una vez que hay√°is extraido los n√∫meros, os dar√©is cuenta que hay celdas que tienen m√°s de una edad. Tendr√©is que decidir que hacer en esos casos. Os dejamos por aqu√≠ una posible opci√≥n usando un m√©todo de Pandas que os puede resultar super √∫til. El m√©todo `explode`.


* Por √∫ltimo cambiad el tipo de la columna de string a integer.


3. Guarda el csv con las columnas limpias para seguir trabajando con este dataframe limpio.