Antes de seguir, recordamos las preguntas que nos planteamos al principio del pair programming de EDA para dirigir nuestro an√°lisis.

* ¬øEs Australia es el sitio m√°s peligroso y letal para estar relajada en la playa?
* ¬øCu√°l es el rango de edad que sufre la mayor√≠a de los ataques?
* Independientemente de la edad, sufren los hombres m√°s ataques que las mujeres?
* ¬øEn qu√© mes ocurren m√°s ataques?
* ¬øCu√°l es la relaci√≥n entre la especie y el tipo de ataque (si es fatal o no)?
* ¬øC√≥mo han evolucionado los ataques a lo largo del tiempo?

De todo esto, nos damos cuenta de que solo tenemos que limpiar algunas de las columnas, en concreto age, species, country, fatal, year, sex. Si reducimos esto a una tabla para saber qu√© tenemos ya limpio y qu√© no:

Variables y su estado de limpieza:

age
‚ùå esta en formato string cuando deber√≠a ser integer y en algunos casos tenemos rangos de edad

species
‚ùå es un jaleo! Debemos unificar los nombres y reducir a las especies m√°s importantes

country
‚ùå los paises est√°n en may√∫sculas, algunos se repiten con algunos cambios


fatal
‚úîÔ∏è la limpiamos en el pair de Pandas V

year
‚ùå es una columna de tipo float deber√≠amos convertirla a integer

sex
‚úîÔ∏è la limpiamos en el pair de Pandas V

fecha
‚úîÔ∏è la limpiamos en el pair de Pandas V

In [6]:
import pandas as pd
import numpy as np
import sidetable
pd.options.display.max_columns=None

In [3]:
df = pd.read_csv('datos/attacks_modificado_4.csv', index_col = 0)

Entre las tareas que tendr√©is que hacer hoy:

1. Al empezar a trabajar con este dataframe ya eliminamos algunas columnas que a priori no nos interesaban. Ahora llega el momento de eliminar alguna columna m√°s. En este caso tendr√©is que eliminar las columnas que no nos sean √∫tiles para contestar a nuestras preguntas. Pero ojo ‚ö†Ô∏è, haced una copia del dataframe para no "cargarnos" el dataframe original y perder la info.

In [32]:
df2 = df.copy()
df2.head(2)

,unnamed:_0,case_number,year,type,country,area,location,activity,name,age,time,species_,href,siglo,injury,date,month,fatal_y/n,sex_m_f
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,N,F
1,6,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,FATAL,03-Jun-2018,Jun,Y,M

In [5]:
df2.columns

Index(['unnamed:_0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'age', 'time', 'species_', 'href',
       'siglo', 'injury', 'date', 'month', 'fatal_y/n', 'sex_m_f'],
      dtype='object')

In [ ]:
# Decidimos elimar las columnas 'unnamed:0_' 'siglo' 'injury', 
# ya que no aportan mucha informacion √∫til o los datos son demasiado variables como para aprovecharlos facilmente.
# Valoraremos mas adelante si eliminar la columna 'time'

In [33]:
df2.drop(['unnamed:_0','siglo', 'injury'], axis = 1, inplace = True)

In [10]:
df2.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'age', 'time', 'species_', 'href', 'date', 'month',
       'fatal_y/n', 'sex_m_f'],
      dtype='object')

2. ¬øHay valores duplicados en nuestro dataframe? En caso de que los haya, elimin√°ndolos.

In [11]:
df2.duplicated().sum()

0

3. Como hemos visto, algunas columnas no tienen el tipo de datos que deber√≠an. Cambiad el tipo de dato para la columna de year.

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1672 entries, 0 to 1671
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  1672 non-null   object
 1   year         1672 non-null   float64
 2   type         1672 non-null   object
 3   country      1662 non-null   object
 4   area         1626 non-null   object
 5   location     1621 non-null   object
 6   activity     1641 non-null   object
 7   name         1663 non-null   object
 8   age          1518 non-null   object
 9   time         1512 non-null   object
 10  species_     1546 non-null   object
 11  href         1672 non-null   object
 12  date         1672 non-null   object
 13  month        1491 non-null   object
 14  fatal_y/n    1573 non-null   object
 15  sex_m_f      1672 non-null   object
dtypes: float64(1), object(15)
memory usage: 222.1+ KB

In [34]:
df2['year'] = df2['year'].astype(int)

In [14]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1672 entries, 0 to 1671
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  1672 non-null   object
 1   year         1672 non-null   int64
 2   type         1672 non-null   object
 3   country      1662 non-null   object
 4   area         1626 non-null   object
 5   location     1621 non-null   object
 6   activity     1641 non-null   object
 7   name         1663 non-null   object
 8   age          1518 non-null   object
 9   time         1512 non-null   object
 10  species_     1546 non-null   object
 11  href         1672 non-null   object
 12  date         1672 non-null   object
 13  month        1491 non-null   object
 14  fatal_y/n    1573 non-null   object
 15  sex_m_f      1672 non-null   object
dtypes: int64(1), object(15)
memory usage: 222.1+ KB

4. En la columna de country poner todos los valores en min√∫sculas.
üí° Pista Tendr√©is que usar una funci√≥n o una lambda üí°

In [15]:
df2['country'].unique()

array(['USA', 'BRAZIL', 'AUSTRALIA', 'ENGLAND', 'COSTA RICA', 'MALDIVES',
       'SOUTH AFRICA', 'CUBA', 'SPAIN', 'BAHAMAS', 'INDONESIA', 'EGYPT',
       'NEW ZEALAND', 'FRENCH POLYNESIA', 'NEW CALEDONIA', 'ECUADOR',
       'THAILAND', 'REUNION', 'MEXICO', 'JAMAICA', 'ITALY',
       'PAPUA NEW GUINEA', 'RUSSIA', 'SEYCHELLES', 'VIETNAM', 'GUAM',
       'MOZAMBIQUE', 'SCOTLAND', 'UNITED KINGDOM', 'TAIWAN', 'CROATIA',
       'FIJI', 'TONGA', 'ST. MAARTIN', 'GRAND CAYMAN', 'VANUATU',
       'VENEZUELA', 'TURKS & CAICOS', 'OKINAWA', 'MARSHALL ISLANDS',
       'MAURITIUS', 'HONG KONG', 'JAPAN', 'SOUTH KOREA', 'ISRAEL',
       'MICRONESIA', 'COLUMBIA', 'NEW BRITAIN', 'PALAU',
       'SOLOMON ISLANDS', 'FEDERATED STATES OF MICRONESIA', 'GREECE',
       'BRITISH WEST INDIES', 'NORTH PACIFIC OCEAN', 'BERMUDA',
       'PHILIPPINES', 'AMERICAN SAMOA', 'PACIFIC OCEAN', 'SENEGAL',
       'ARGENTINA', 'EL SALVADOR', 'IRAQ', 'PANAMA', 'INDIA', nan,
       'BARBADOS', 'MARTINIQUE', 'GUINEA', 'GREENLAND', 'FRANCE',
       'MEDITERRANEAN SEA', 'SWEDEN', 'ICELAND', 'ROATAN',
       'Between PORTUGAL & INDIA', 'CANADA', 'KENYA', 'URUGUAY',
       'LEBANON', 'SUDAN', 'DJIBOUTI', 'LIBYA', 'SRI LANKA', 'BAHREIN',
       'KOREA', 'IRAN', 'RED SEA?', 'SINGAPORE', 'MADAGASCAR',
       'NICARAGUA', 'KIRIBATI', 'SAUDI ARABIA', 'BURMA', 'BELIZE',
       'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [31]:
def lower(fila):
    if type(fila) == str:
        return fila.lower()
    else:
        return np.nan

In [35]:
df2['country'] = (df2['country']).apply(lower)

In [36]:
df2['country'].unique()

array(['usa', 'brazil', 'australia', 'england', 'costa rica', 'maldives',
       'south africa', 'cuba', 'spain', 'bahamas', 'indonesia', 'egypt',
       'new zealand', 'french polynesia', 'new caledonia', 'ecuador',
       'thailand', 'reunion', 'mexico', 'jamaica', 'italy',
       'papua new guinea', 'russia', 'seychelles', 'vietnam', 'guam',
       'mozambique', 'scotland', 'united kingdom', 'taiwan', 'croatia',
       'fiji', 'tonga', 'st. maartin', 'grand cayman', 'vanuatu',
       'venezuela', 'turks & caicos', 'okinawa', 'marshall islands',
       'mauritius', 'hong kong', 'japan', 'south korea', 'israel',
       'micronesia', 'columbia', 'new britain', 'palau',
       'solomon islands', 'federated states of micronesia', 'greece',
       'british west indies', 'north pacific ocean', 'bermuda',
       'philippines', 'american samoa', 'pacific ocean', 'senegal',
       'argentina', 'el salvador', 'iraq', 'panama', 'india', nan,
       'barbados', 'martinique', 'guinea', 'greenland', 'france',
       'mediterranean sea', 'sweden', 'iceland', 'roatan',
       'between portugal & india', 'canada', 'kenya', 'uruguay',
       'lebanon', 'sudan', 'djibouti', 'libya', 'sri lanka', 'bahrein',
       'korea', 'iran', 'red sea?', 'singapore', 'madagascar',
       'nicaragua', 'kiribati', 'saudi arabia', 'burma', 'belize',
       'asia?', 'ceylon (sri lanka)'], dtype=object)

In [ ]:
# ALTERNATIVA: Resolverlo con lambda

In [26]:
df3 = df.copy()

In [29]:
df3['country'] = df3['country'].apply(lambda fila: fila.lower() if type(fila) == str else np.nan)

In [30]:
df3['country'].unique()

array(['usa', 'brazil', 'australia', 'england', 'costa rica', 'maldives',
       'south africa', 'cuba', 'spain', 'bahamas', 'indonesia', 'egypt',
       'new zealand', 'french polynesia', 'new caledonia', 'ecuador',
       'thailand', 'reunion', 'mexico', 'jamaica', 'italy',
       'papua new guinea', 'russia', 'seychelles', 'vietnam', 'guam',
       'mozambique', 'scotland', 'united kingdom', 'taiwan', 'croatia',
       'fiji', 'tonga', 'st. maartin', 'grand cayman', 'vanuatu',
       'venezuela', 'turks & caicos', 'okinawa', 'marshall islands',
       'mauritius', 'hong kong', 'japan', 'south korea', 'israel',
       'micronesia', 'columbia', 'new britain', 'palau',
       'solomon islands', 'federated states of micronesia', 'greece',
       'british west indies', 'north pacific ocean', 'bermuda',
       'philippines', 'american samoa', 'pacific ocean', 'senegal',
       'argentina', 'el salvador', 'iraq', 'panama', 'india', nan,
       'barbados', 'martinique', 'guinea', 'greenland', 'france',
       'mediterranean sea', 'sweden', 'iceland', 'roatan',
       'between portugal & india', 'canada', 'kenya', 'uruguay',
       'lebanon', 'sudan', 'djibouti', 'libya', 'sri lanka', 'bahrein',
       'korea', 'iran', 'red sea?', 'singapore', 'madagascar',
       'nicaragua', 'kiribati', 'saudi arabia', 'burma', 'belize',
       'asia?', 'ceylon (sri lanka)'], dtype=object)


5. Guardamos el csv para seguir trabajando en el siguiente ejercicio de pair de limpieza.

In [37]:
df2.to_csv('datos/attacks_limpieza_1.csv')