Por lo tanto, en este ejercicio nos queda por limpiar las columnas de age y species, as√≠ que manos a la obra. Vamos a ver que podemos hacer para cada una de las columnas y os dejaremos algunas pistas üòâ.

1. Columna de species: si exploramos esta columna en detalle nos podemos dar cuenta que tenemos muchos valores √∫nicos y esto hace que sea muy dif√≠cil trabajar con esta columna. Lo que vamos a hacer es clasificar los tiburones en 5 especies diferentes, las m√°s comunes, que incluyen el tibur√≥n blanco (White), el tibur√≥n tigre (Tiger ), el tibur√≥n gris (Grey), el tibur√≥n lim√≥n (Lemon) y el tibur√≥n toro (Bull). El resto de las especies las incluiremos en un √∫nico grupo que podremos llamar "Unspecified". Ahora nos podemos sentir un poco abrumadas y no saber como enfrentarnos a este reto, pero don't worry, os dejamos por aqu√≠ unas üí° pistas üí° para que os ayuden a entender c√≥mo hacerlo.

* Los valores de las columnas son strings por lo que podremos usar regex para buscar palabras clave en cada celda y asignarlo a una de las categor√≠as que hemos definido previamente.
```python
# imaginemos que el valor de una celda es el siguiente

'White shark, 3.5 m'
# tendremos que buscar el patr√≥n de regex que nos permita extraer White shark de ese string y que nos devuelva solo White shark. 
# Un patr√≥n que podriamos usar es: 
‚Äãpatron_blanco = r".*[Ww](hite|HITE).*" # esto podr√≠a ser as√≠ porque puede estar en may√∫sculas o en min√∫sculas. 

# de la misma forma que hemos sacado el patron para el tibur√≥n blanco, tendremos que sacar los patrones para las otras 4 especies que queremos "encontrar". 
```


* Tendremos que crearnos una funci√≥n que aplicaremos sobre nuestra columna species_ para que nos devuelva una nueva columna con los valores clasificados en funci√≥n de los patrones de regex que hayamos definido.

In [47]:
import pandas as pd
import numpy as np
import sidetable
import re

In [48]:
df = pd.read_csv('datos/attacks_limpieza_1.csv', index_col = 0)
df.head(1)

,case_number,year,type,country,area,location,activity,age,species_,date,month,fatal_y/n,sex_m_f
0,2018.06.25,2018,Boating,usa,California,"Oceanside, San Diego County",Paddling,57,White shark,25-Jun-2018,Jun,N,F

In [49]:
df2 = df.copy()

In [ ]:
# Primero rellenamos los nulos de la columna species con strings para poder hacer busquedas regex y que no nos de error
df2['species_'] = df2['species_'].fillna('NAN')
df2['species_'].unique()

In [51]:
# Vemos si funcion√≥. Bien, en 'species' no tenemos nulos
df2.isnull().sum()

case_number      0
year             0
type             0
country         10
area            46
location        51
activity        31
age            154
species_         0
date             0
month          181
fatal_y/n       99
sex_m_f          0
dtype: int64

In [ ]:
# Vamos a comprobar la efectividad de nuestro patron regex para los tiburones tigre
# Primero extraemos todas las apariciones de 'tiger'
df2[df2['species_'].str.contains('tiger', case=False)]['species_'].unique()

In [53]:
# Vemos cuantas han sido
len(df2[df2['species_'].str.contains('tiger', case=False)]['species_'].unique())

93

In [54]:
# Las guardamos en una variable
tiger = df2[df2['species_'].str.contains('tiger', case=False)]['species_'].unique()

In [55]:
# Las convertimos a string para aplicarle regex
tiger2 = ','.join(tiger)

In [56]:
patron_tiger = '[Tt]iger|IGER'

In [ ]:
list_tigers = re.findall(patron_tiger, tiger2)
list_tigers

In [58]:
# Coincide con el numero de apariciones que filtramos del dataframe con str.contains
len(list_tigers)

93

In [59]:
# Nuestro patr√≥n va a encontrar 'tiger' en todas las filas que hemos filtrado

In [60]:
# Como nuestro patr√≥n es distinto al que nos dec√≠a el enunciado, comprobamos el patr√≥n de white

In [ ]:
# Filtramos y extraemos valores unicos
df2[df2['species_'].str.contains('white', case=False)]['species_'].unique()

In [62]:
# Vemos el numero de filas que lo contienen
len(df2[df2['species_'].str.contains('white', case=False)]['species_'].unique())

219

In [ ]:
# Guardamos las apariciones en una lista
white = list(df2[df2['species_'].str.contains('white', case=False)]['species_'].unique())
white

In [ ]:
# Pasamos a string para aplicarle regex
white2 = ','.join(white)
white2

In [65]:
patron_blanco = r".*[Ww](hite|HITE).*"

In [66]:
# Hacemos la b√∫squeda en nuestro string 
whites = re.findall(patron_blanco, white2)
len(whites)

1

In [67]:
#¬øQu√© ha encontrado regex con este patr√≥n?
whites

['hite']

In [68]:
# Este patron no recoge todas las apariciones, pero nos sirve para identificar nuestra fila para clasificarla

In [69]:
# Sin embargo, elegimos usar nuestro patr√≥n comprobado para cada fila.

In [70]:
patron_blanco2 = r"[Ww]hite|HITE"

In [71]:
whites = re.findall(patron_blanco2, white2)
len(whites)

222

In [72]:
# Definimos funci√≥n
def clasif_especies (fila):
    patron_tiger = r'[Tt]iger|IGER'
    patron_grey = r'[Gg]rey|REY'
    patron_lemon = r'[Ll]emon|EMON'
    patron_bull = r'[Bb]ull|ULL'
    patron_blanco = r"[Ww]hite|HITE"
    
    if re.findall(patron_blanco, fila):
        return fila.replace(fila, 'white shark')
    elif re.findall(patron_tiger, fila):
        return fila.replace(fila, 'tiger shark')
    elif re.findall(patron_grey, fila):
        return fila.replace(fila, 'grey shark')
    elif re.findall(patron_lemon, fila):
        return fila.replace(fila, 'lemon shark')
    elif re.findall(patron_bull, fila):
        return fila.replace(fila, 'bull shark')
    else:
        return fila.replace(fila, 'unspecified')

In [73]:
# Hacemos una copia para probar la funcion de species
df3 = df2.copy()

In [74]:
df3['species_'] = df3['species_'].apply(clasif_especies)

In [75]:
df3['species_'].value_counts()

unspecified    984
white shark    386
tiger shark    157
bull shark     104
grey shark      30
lemon shark     11
Name: species_, dtype: int64

In [76]:
# Hemos comprobado que no hab√≠a diferencia de resultado con los patrones dados en el enunciado y los nuestros.
# Lo que s√≠ vemos es que el n√∫mero de filas de white y tiger shark despu√©s de la limpieza es mayor al que hab√≠amos 
# encontrado en las comprobaciones. 
# Esto se debe probablemente a que las comprobaciones estaban hechas con los valores √∫nicos, y habr√≠a repeticiones.


2. Columna de age: es una columna de tipo string pero deber√≠a ser de tipo integer. Adem√°s, en esta columna nos vamos a encontrar con algunos errores tipogr√°ficos, estos incluyen:
* Edad en formato string
* Edades separadas por &, or, to, >
* Edades con ?

Vamos con algunas üí° pistas üí° para que os ayuden a entender c√≥mo hacerlo:
* Primero tendremos que eliminar todos esos s√≠mbolos especiales que nos aparecen. De nuevo, podremos usar regex para extraer unicamente los n√∫meros que es lo que nos interesa. Usar este regex en una funci√≥n para sacar solo los n√∫meros.
* Puede que os salga un error similar a este:
>```python
>TypeError: expected string or bytes-like object
>```
Para solucionar este problema, antes de nada tendr√©is que ejecutar este c√≥digo para que no os de error:
>```python
>df['nombre_columna'] = df['nombre_columna'].astype(str)
>```

* Una vez que hay√°is extraido los n√∫meros, os dar√©is cuenta que hay celdas que tienen m√°s de una edad. Tendr√©is que decidir que hacer en esos casos. Os dejamos por aqu√≠ una posible opci√≥n usando un m√©todo de Pandas que os puede resultar super √∫til. El m√©todo `explode`.

In [77]:
df3.head(1)

,case_number,year,type,country,area,location,activity,age,species_,date,month,fatal_y/n,sex_m_f
0,2018.06.25,2018,Boating,usa,California,"Oceanside, San Diego County",Paddling,57,white shark,25-Jun-2018,Jun,N,F

In [78]:
# Recordamos qu√© tipos de variables tenemos
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1672 entries, 0 to 1671
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  1672 non-null   object
 1   year         1672 non-null   int64
 2   type         1672 non-null   object
 3   country      1662 non-null   object
 4   area         1626 non-null   object
 5   location     1621 non-null   object
 6   activity     1641 non-null   object
 7   age          1518 non-null   object
 8   species_     1672 non-null   object
 9   date         1672 non-null   object
 10  month        1491 non-null   object
 11  fatal_y/n    1573 non-null   object
 12  sex_m_f      1672 non-null   object
dtypes: int64(1), object(12)
memory usage: 182.9+ KB

In [79]:
# Aplicamos el cambio de dtype
df3['age'] = df3['age'].astype(str)

In [80]:
# No parece haber ningun cambio
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1672 entries, 0 to 1671
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  1672 non-null   object
 1   year         1672 non-null   int64
 2   type         1672 non-null   object
 3   country      1662 non-null   object
 4   area         1626 non-null   object
 5   location     1621 non-null   object
 6   activity     1641 non-null   object
 7   age          1672 non-null   object
 8   species_     1672 non-null   object
 9   date         1672 non-null   object
 10  month        1491 non-null   object
 11  fatal_y/n    1573 non-null   object
 12  sex_m_f      1672 non-null   object
dtypes: int64(1), object(12)
memory usage: 182.9+ KB

In [81]:
# Vemos cu√°ntos valores √∫nicos tenemos y cu√°les son antes de la limpieza
df3['age'].unique().size

95

In [82]:
df3['age'].unique()

array(['57', '18', '15', '32', '21', '30', '60', '33', '19', '25', '10',
       '69', '55', '35', '20', '54', '22', '31', '40', '37', '11', '13',
       '34', '50', '46', '48', '17', '28', '65', '73', '58', '36', '60s',
       '51', '61', '59', '42', '6', '27', '23', '29', '39', '24', '12',
       '26', '71', '43', '9', '44', '14', '62', '52', '38', '68', '16',
       '47', '63', '70', '41', '40s', '53', '20s', '7', '66', '45', '74',
       '64', '8', '56', '49', '18 or 20', 'Teen', '30s', '77', '8 or 10',
       '84', '\xa0 ', ' ', '30 or 36', '6¬Ω', '5', ' 30', ' 28', "60's",
       '67', '>50', '? & 19', '21, 34,24 & 35', '30 & 32', '13 or 18',
       '7 or 8', '9 or 10', 'nan', 'young', '13 or 14'], dtype=object)

In [83]:
# Definimos funci√≥n
def sacar_age (fila):
    patron1 = '\d+'
    lista = re.findall(patron1, fila)
    if len(lista) > 1:
        for i in range(len(lista)):
            lista[i] = int(lista[i]) 
        return str(int(sum(lista)/len(lista))) # para que nos haga la media de las edades si encuentra m√°s de una. Volvemos a pasar a str para luego hacer un astype general
    elif len(lista) == 1:
        return lista[0]    # para que nos devuelva el elemento encontrado
    else:
        return np.nan   # si la lista est√° vac√≠a, devolver nan

In [84]:
df4 = df3.copy()
df4.head(2)

,case_number,year,type,country,area,location,activity,age,species_,date,month,fatal_y/n,sex_m_f
0,2018.06.25,2018,Boating,usa,California,"Oceanside, San Diego County",Paddling,57,white shark,25-Jun-2018,Jun,N,F
1,2018.06.03.a,2018,Unprovoked,brazil,Pernambuco,"Piedade Beach, Recife",Swimming,18,tiger shark,03-Jun-2018,Jun,Y,M

In [85]:
# Aplicamos el cambio sobre un dataframe copiado
df4['age'] = df4['age'].apply(sacar_age)

In [86]:
# Comprobamos
df4['age'].unique()

array(['57', '18', '15', '32', '21', '30', '60', '33', '19', '25', '10',
       '69', '55', '35', '20', '54', '22', '31', '40', '37', '11', '13',
       '34', '50', '46', '48', '17', '28', '65', '73', '58', '36', '51',
       '61', '59', '42', '6', '27', '23', '29', '39', '24', '12', '26',
       '71', '43', '9', '44', '14', '62', '52', '38', '68', '16', '47',
       '63', '70', '41', '53', '7', '66', '45', '74', '64', '8', '56',
       '49', nan, '77', '84', '5', '67'], dtype=object)


* Por √∫ltimo cambiad el tipo de la columna de string a integer.

In [87]:
df4['age'] = df4['age'].astype(np.number)

# No nos deja cambiar a int porque tenemos nans, que son float

In [88]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1672 entries, 0 to 1671
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  1672 non-null   object
 1   year         1672 non-null   int64
 2   type         1672 non-null   object
 3   country      1662 non-null   object
 4   area         1626 non-null   object
 5   location     1621 non-null   object
 6   activity     1641 non-null   object
 7   age          1514 non-null   float64
 8   species_     1672 non-null   object
 9   date         1672 non-null   object
 10  month        1491 non-null   object
 11  fatal_y/n    1573 non-null   object
 12  sex_m_f      1672 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 182.9+ KB

In [89]:
# ¬øCu√°ntos nulos se nos quedan en contraste con el dataframe sin limpiar?
df4.isnull().sum()

case_number      0
year             0
type             0
country         10
area            46
location        51
activity        31
age            158
species_         0
date             0
month          181
fatal_y/n       99
sex_m_f          0
dtype: int64

In [90]:
df2.isnull().sum()

case_number      0
year             0
type             0
country         10
area            46
location        51
activity        31
age            154
species_         0
date             0
month          181
fatal_y/n       99
sex_m_f          0
dtype: int64

In [91]:
# Se nos quedan s√≥lo dos nulos m√°s


3. Guarda el csv con las columnas limpias para seguir trabajando con este dataframe limpio.

In [92]:
df4.to_csv('datos/attacks_limpieza_2.csv')