Antes de seguir, recordamos las preguntas que nos planteamos al principio del pair programming de EDA para dirigir nuestro análisis.

* ¿Es Australia es el sitio más peligroso y letal para estar relajada en la playa?
* ¿Cuál es el rango de edad que sufre la mayoría de los ataques?
* Independientemente de la edad, sufren los hombres más ataques que las mujeres?
* ¿En qué mes ocurren más ataques?
* ¿Cuál es la relación entre la especie y el tipo de ataque (si es fatal o no)?
* ¿Cómo han evolucionado los ataques a lo largo del tiempo?
* De todo esto, nos damos cuenta que solo tenemos que limpiar algunas de las columnas, en concreto age, species, country, fatal, year, sex. Si reducimos esto a una tabla para saber que tenemos ya limpito y que no:
variable

¿Está limpia?

age
❌ esta en formato string cuando debería ser integer y en algunos casos tenemos rangos de edad

species
❌ es un jaleo! Debemos unificar los nombres y reducir a las especies más importantes

country
❌ los paises están en mayúsculas, algunos se repiten con algunos cambios


fatal
✔️ la limpiamos en el pair de Pandas V

year
❌ es una columna de tipo float deberíamos convertirla a integer

sex
✔️ la limpiamos en el pair de Pandas V

fecha
✔️ la limpiamos en el pair de Pandas V

In [1]:
import pandas as pd
import numpy as np
import sidetable

In [2]:
df = pd.read_csv('attacks_modificado_4.csv', index_col = 0)

Entre las tareas que tendréis que hacer hoy:

1. Al empezar a trabajar con este dataframe ya eliminamos algunas columnas que a priori no nos interesaban. Ahora llega el momento de eliminar alguna columna más. En este caso vamos tendréis que eliminar las columnas que no nos sean útiles para contestar a nuestras preguntas. Pero ojo ⚠️, haced una copia del dataframe para no "cargarnos" el dataframe original y perder la info.

In [31]:
df2 = df.copy()

In [32]:
df2.columns

Index(['unnamed:_0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'age', 'time', 'species_', 'href',
       'siglo', 'injury', 'date', 'month', 'fatal_y/n', 'sex_m_f'],
      dtype='object')

In [33]:
pd.options.display.max_columns=None

In [34]:
df2.head()

,unnamed:_0,case_number,year,type,country,area,location,activity,name,age,time,species_,href,siglo,injury,date,month,fatal_y/n,sex_m_f
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018,Jun,N,F
1,6,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,FATAL,03-Jun-2018,Jun,Y,M
2,8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,Lower left leg bitten,26-May-2018,May,N,M
3,10,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,Minor bite to hand by captive shark. PROVOKED ...,24-May-2018,May,N,M
4,13,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,Injured by teeth of a dead porbeagle shark he ...,13-May-2018,May,N,M

In [ ]:
# Decidimos elimar las columnas 'siglo' e 'injury', 
# ya que no aportan mucha informacion util o se encuentra demasiado sucia como para aprovecharla
# Valoraremos mas adelante si eliminar la columna 'time'

In [35]:
df2.drop(['unnamed:_0','siglo', 'injury'], axis = 1, inplace = True)

In [36]:
df2.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'age', 'time', 'species_', 'href', 'date', 'month',
       'fatal_y/n', 'sex_m_f'],
      dtype='object')

2. ¿Hay valores duplicados en nuestro dataframe? En caso de que los haya, eliminándolos.

In [ ]:
df2.duplicated().sum()

0

3. Como hemos visto, algunas columnas no tienen el tipo de datos que deberían. Cambiad el tipo de dato para la columna de year.

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1672 entries, 0 to 1671
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  1672 non-null   object
 1   year         1672 non-null   float64
 2   type         1672 non-null   object
 3   country      1662 non-null   object
 4   area         1626 non-null   object
 5   location     1621 non-null   object
 6   activity     1641 non-null   object
 7   name         1663 non-null   object
 8   age          1518 non-null   object
 9   time         1512 non-null   object
 10  species_     1546 non-null   object
 11  href         1672 non-null   object
 12  date         1672 non-null   object
 13  month        1491 non-null   object
 14  fatal_y/n    1573 non-null   object
 15  sex_m_f      1672 non-null   object
dtypes: float64(1), object(15)
memory usage: 286.6+ KB

In [ ]:
df2['year'] = df2['year'].astype(int)

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1672 entries, 0 to 1671
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  1672 non-null   object
 1   year         1672 non-null   int64
 2   type         1672 non-null   object
 3   country      1662 non-null   object
 4   area         1626 non-null   object
 5   location     1621 non-null   object
 6   activity     1641 non-null   object
 7   name         1663 non-null   object
 8   age          1518 non-null   object
 9   time         1512 non-null   object
 10  species_     1546 non-null   object
 11  href         1672 non-null   object
 12  date         1672 non-null   object
 13  month        1491 non-null   object
 14  fatal_y/n    1573 non-null   object
 15  sex_m_f      1672 non-null   object
dtypes: int64(1), object(15)
memory usage: 286.6+ KB

4. En la columna de country poner todos los valores en minúsculas.
💡 Pista Tendréis que usar una función o una lambda 💡

In [37]:
df2['country'].unique()

array(['USA', 'BRAZIL', 'AUSTRALIA', 'ENGLAND', 'COSTA RICA', 'MALDIVES',
       'SOUTH AFRICA', 'CUBA', 'SPAIN', 'BAHAMAS', 'INDONESIA', 'EGYPT',
       'NEW ZEALAND', 'FRENCH POLYNESIA', 'NEW CALEDONIA', 'ECUADOR',
       'THAILAND', 'REUNION', 'MEXICO', 'JAMAICA', 'ITALY',
       'PAPUA NEW GUINEA', 'RUSSIA', 'SEYCHELLES', 'VIETNAM', 'GUAM',
       'MOZAMBIQUE', 'SCOTLAND', 'UNITED KINGDOM', 'TAIWAN', 'CROATIA',
       'FIJI', 'TONGA', 'ST. MAARTIN', 'GRAND CAYMAN', 'VANUATU',
       'VENEZUELA', 'TURKS & CAICOS', 'OKINAWA', 'MARSHALL ISLANDS',
       'MAURITIUS', 'HONG KONG', 'JAPAN', 'SOUTH KOREA', 'ISRAEL',
       'MICRONESIA', 'COLUMBIA', 'NEW BRITAIN', 'PALAU',
       'SOLOMON ISLANDS', 'FEDERATED STATES OF MICRONESIA', 'GREECE',
       'BRITISH WEST INDIES', 'NORTH PACIFIC OCEAN', 'BERMUDA',
       'PHILIPPINES', 'AMERICAN SAMOA', 'PACIFIC OCEAN', 'SENEGAL',
       'ARGENTINA', 'EL SALVADOR', 'IRAQ', 'PANAMA', 'INDIA', nan,
       'BARBADOS', 'MARTINIQUE', 'GUINEA', 'GREENLAND', 'FRANCE',
       'MEDITERRANEAN SEA', 'SWEDEN', 'ICELAND', 'ROATAN',
       'Between PORTUGAL & INDIA', 'CANADA', 'KENYA', 'URUGUAY',
       'LEBANON', 'SUDAN', 'DJIBOUTI', 'LIBYA', 'SRI LANKA', 'BAHREIN',
       'KOREA', 'IRAN', 'RED SEA?', 'SINGAPORE', 'MADAGASCAR',
       'NICARAGUA', 'KIRIBATI', 'SAUDI ARABIA', 'BURMA', 'BELIZE',
       'ASIA?', 'CEYLON (SRI LANKA)'], dtype=object)

In [38]:
def lower(fila):
    if type(fila) == str:
        return fila.lower()
    else:
        type(fila) == np.nan
        pass

In [39]:
df2['country'] = (df2['country']).apply(lower)

In [40]:
df2['country'].unique()

array(['usa', 'brazil', 'australia', 'england', 'costa rica', 'maldives',
       'south africa', 'cuba', 'spain', 'bahamas', 'indonesia', 'egypt',
       'new zealand', 'french polynesia', 'new caledonia', 'ecuador',
       'thailand', 'reunion', 'mexico', 'jamaica', 'italy',
       'papua new guinea', 'russia', 'seychelles', 'vietnam', 'guam',
       'mozambique', 'scotland', 'united kingdom', 'taiwan', 'croatia',
       'fiji', 'tonga', 'st. maartin', 'grand cayman', 'vanuatu',
       'venezuela', 'turks & caicos', 'okinawa', 'marshall islands',
       'mauritius', 'hong kong', 'japan', 'south korea', 'israel',
       'micronesia', 'columbia', 'new britain', 'palau',
       'solomon islands', 'federated states of micronesia', 'greece',
       'british west indies', 'north pacific ocean', 'bermuda',
       'philippines', 'american samoa', 'pacific ocean', 'senegal',
       'argentina', 'el salvador', 'iraq', 'panama', 'india', None,
       'barbados', 'martinique', 'guinea', 'greenland', 'france',
       'mediterranean sea', 'sweden', 'iceland', 'roatan',
       'between portugal & india', 'canada', 'kenya', 'uruguay',
       'lebanon', 'sudan', 'djibouti', 'libya', 'sri lanka', 'bahrein',
       'korea', 'iran', 'red sea?', 'singapore', 'madagascar',
       'nicaragua', 'kiribati', 'saudi arabia', 'burma', 'belize',
       'asia?', 'ceylon (sri lanka)'], dtype=object)

In [ ]:
df2['country'] = (df2['country']).apply(lambda fila:  fila.lower() if type(fila) == str)

# Como se resuelve con una lambda?

SyntaxError: invalid syntax (1408464770.py, line 1)

In [ ]:
# ¿porque nos cambia el nan a none si le hemos dicho que pase?


5. Guardamos el csv para seguir trabajando en el siguiente ejercicio de pair de limpieza.

In [41]:
df2.to_csv('attacks_limpieza_1.csv')