Es el momento de meter todos nuestros datos en SQL !!! En este ejercicio nos crearemos dos tablas en una BBDD creada por nosotras. Una de las tablas contendr谩 la informaci贸n que obtuvimos de los ejercicios de pair programming de Limpieza, es decir, el data set de ataques de tiburones limpito. La segunda tabla tendr谩 la informaci贸n obtenida en el ejercicio de pair de ETL 1.

 Nota Todo lo tendremos que hacer desde jupyter notebook

In [14]:
import pandas as pd
import mysql.connector
pd.options.display.max_rows=None

In [7]:
df = pd.read_csv('datos/input/attacks_clima_paises_2022-09-18.csv', index_col=0)
df.head(1)

,year,type,country,age,species_,fecha_limpia,fatal,sex,timepoint,cloudcover,...,layer400mb_direction,layer400mb_speed,layer350mb_direction,layer350mb_speed,layer300mb_direction,layer300mb_speed,layer250mb_direction,layer250mb_speed,layer200mb_direction,layer200mb_speed
0,2018,Boating,usa,57.0,White shark,Jun,N,F,97.5,6.4375,...,209.21875,3.578125,202.109375,3.9375,206.40625,4.296875,215.546875,4.71875,246.09375,5.21875

In [8]:
df.columns

Index(['year', 'type', 'country', 'age', 'species_', 'fecha_limpia', 'fatal',
       'sex', 'timepoint', 'cloudcover', 'highcloud', 'midcloud', 'lowcloud',
       'temp2m', 'lifted_index', 'rh2m', 'msl_pressure', 'prec_amount',
       'snow_depth', 'wind10m.speed', 'latitud', 'longitud', 'rh_layer_950mb',
       'rh_layer_900mb', 'rh_layer_850mb', 'rh_layer_800mb', 'rh_layer_750mb',
       'rh_layer_700mb', 'rh_layer_650mb', 'rh_layer_600mb', 'rh_layer_550mb',
       'rh_layer_500mb', 'rh_layer_450mb', 'rh_layer_400mb', 'rh_layer_350mb',
       'rh_layer_300mb', 'rh_layer_250mb', 'rh_layer_200mb',
       'layer950mb_direction', 'layer950mb_speed', 'layer900mb_direction',
       'layer900mb_speed', 'layer850mb_direction', 'layer850mb_speed',
       'layer800mb_direction', 'layer800mb_speed', 'layer750mb_direction',
       'layer750mb_speed', 'layer700mb_direction', 'layer700mb_speed',
       'layer650mb_direction', 'layer650mb_speed', 'layer600mb_direction',
       'layer600mb_speed', 'layer550mb_direction', 'layer550mb_speed',
       'layer500mb_direction', 'layer500mb_speed', 'layer450mb_direction',
       'layer450mb_speed', 'layer400mb_direction', 'layer400mb_speed',
       'layer350mb_direction', 'layer350mb_speed', 'layer300mb_direction',
       'layer300mb_speed', 'layer250mb_direction', 'layer250mb_speed',
       'layer200mb_direction', 'layer200mb_speed'],
      dtype='object')

1. Cread la BBDD con el nombre de tiburones.

In [9]:
def crear_bbdd(nombre_bbdd):

    mydb = mysql.connector.connect(
      host="127.0.0.1",
      user="root",
      password="AlumnaAdalab" # aqu铆 tendr茅is que poner vuestra contrase帽a de MySQL
    )
    print("Conexi贸n realizada con 茅xito")
    
    mycursor = mydb.cursor()

    try:
        mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {nombre_bbdd};")
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [10]:
bbdd = crear_bbdd('tiburones')

Conexi贸n realizada con 茅xito
CMySQLCursor: CREATE DATABASE IF NOT EXISTS tiburones;

2. Cread las tablas de la BBDD:
- Tabla ataques
- Tabla clima

In [16]:
def crear_insertar_tabla(nombre_bbdd, contrase帽a, query):
    
    # nos conectamsos con el servidor usando el conector de sql
    cnx = mysql.connector.connect(user='root', password=f"{contrase帽a}",
                                     host='127.0.0.1', database=f"{nombre_bbdd}")
    # iniciamos el cursor
    mycursor = cnx.cursor()
    
    # intentamos hacer la query
    try: 
        mycursor.execute(query)
        cnx.commit() 
    # en caso de que podamos ejecutar la query devuelvenos un error para saber en que nos estamos equivocando
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

Creaci贸n de la tabla `ataques`

In [39]:
tabla_attacks = ''' 
    CREATE TABLE IF NOT EXISTS `attacks` (
    `id_attacks` INT NOT NULL AUTO_INCREMENT,
    `id_climate` INT NOT NULL,
    `year` INT DEFAULT NULL,
    `type` VARCHAR(50) DEFAULT NULL, 
    `country` VARCHAR(50) DEFAULT NULL,  
    `age` FLOAT DEFAULT NULL,
    `species` VARCHAR(50) DEFAULT NULL,
    `date` VARCHAR (10) DEFAULT NULL,
    `fatal` CHAR (1) DEFAULT NULL,
    `sex` CHAR (1) DEFAULT NULL,
    PRIMARY KEY (`id_attacks`),
    INDEX `fk_attacks_climate` (`id_climate` ASC),
    CONSTRAINT `fk_attacks_climate`
    FOREIGN KEY (`id_climate`)
    REFERENCES `tiburones`.`climate` (`id_climate`)
    )
    
    ENGINE = InnoDB;
    '''

Creaci贸n de la tabla `clima`

In [32]:
tabla_climate = '''
       CREATE TABLE IF NOT EXISTS `climate` (
       `id_climate` INT NOT NULL AUTO_INCREMENT,
       `timepoint` FLOAT DEFAULT NULL, 
       `cloudcover` FLOAT DEFAULT NULL, 
       `highcloud` FLOAT DEFAULT NULL, 
       `midcloud` FLOAT DEFAULT NULL, 
       `lowcloud` FLOAT DEFAULT NULL,
       `temp2m` FLOAT DEFAULT NULL, 
       `lifted_index` FLOAT DEFAULT NULL, 
       `rh2m` FLOAT DEFAULT NULL, 
       `msl_pressure` FLOAT DEFAULT NULL, 
       `prec_amount` FLOAT DEFAULT NULL,
       `snow_depth` FLOAT DEFAULT NULL, 
       `wind_speed` FLOAT DEFAULT NULL, 
       `latitud` FLOAT DEFAULT NULL, 
       `longitud` FLOAT DEFAULT NULL, 
       `rh_layer_950mb` FLOAT DEFAULT NULL,
       `rh_layer_900mb` FLOAT DEFAULT NULL, 
       `rh_layer_850mb` FLOAT DEFAULT NULL, 
       `rh_layer_800mb` FLOAT DEFAULT NULL, 
       `rh_layer_750mb` FLOAT DEFAULT NULL,
       `rh_layer_700mb` FLOAT DEFAULT NULL, 
       `rh_layer_650mb` FLOAT DEFAULT NULL, 
       `rh_layer_600mb` FLOAT DEFAULT NULL, 
       `rh_layer_550mb` FLOAT DEFAULT NULL,
       `rh_layer_500mb` FLOAT DEFAULT NULL,
       `rh_layer_450mb` FLOAT DEFAULT NULL, 
       `rh_layer_400mb` FLOAT DEFAULT NULL, 
       `rh_layer_350mb` FLOAT DEFAULT NULL,
       `rh_layer_300mb` FLOAT DEFAULT NULL,
       `rh_layer_250mb` FLOAT DEFAULT NULL, 
       `rh_layer_200mb` FLOAT DEFAULT NULL,
       `layer950mb_direction` FLOAT DEFAULT NULL, 
       `layer950mb_speed` FLOAT DEFAULT NULL, 
       `layer900mb_direction` FLOAT DEFAULT NULL,
       `layer900mb_speed` FLOAT DEFAULT NULL, 
       `layer850mb_direction` FLOAT DEFAULT NULL, 
       `layer850mb_speed` FLOAT DEFAULT NULL,
       `layer800mb_direction` FLOAT DEFAULT NULL, 
       `layer800mb_speed` FLOAT DEFAULT NULL, 
       `layer750mb_direction` FLOAT DEFAULT NULL,
       `layer750mb_speed` FLOAT DEFAULT NULL, 
       `layer700mb_direction` FLOAT DEFAULT NULL, 
       `layer700mb_speed` FLOAT DEFAULT NULL,
       `layer650mb_direction` FLOAT DEFAULT NULL, 
       `layer650mb_speed` FLOAT DEFAULT NULL,
       `layer600mb_direction` FLOAT DEFAULT NULL,
       `layer600mb_speed` FLOAT DEFAULT NULL,
       `layer550mb_direction` FLOAT DEFAULT NULL, 
       `layer550mb_speed` FLOAT DEFAULT NULL,
       `layer500mb_direction` FLOAT DEFAULT NULL,
       `layer500mb_speed` FLOAT DEFAULT NULL, 
       `layer450mb_direction` FLOAT DEFAULT NULL,
       `layer450mb_speed` FLOAT DEFAULT NULL,
       `layer400mb_direction` FLOAT DEFAULT NULL,
       `layer400mb_speed` FLOAT DEFAULT NULL,
       `layer350mb_direction` FLOAT DEFAULT NULL,
       `layer350mb_speed` FLOAT DEFAULT NULL,
       `layer300mb_direction` FLOAT DEFAULT NULL,
       `layer300mb_speed` FLOAT DEFAULT NULL,
       `layer250mb_direction` FLOAT DEFAULT NULL,
       `layer250mb_speed` FLOAT DEFAULT NULL,
       `layer200mb_direction` FLOAT DEFAULT NULL,
       `layer200mb_speed` FLOAT DEFAULT NULL,
       PRIMARY KEY (`id_climate`))
    
    ENGINE = InnoDB;
       '''

Llamamos a la funci贸n para crear cada una de las tablas de nuestra BBDD.

In [33]:
crear_insertar_tabla("tiburones","AlumnaAdalab", tabla_climate)

In [40]:
crear_insertar_tabla("tiburones", "AlumnaAdalab", tabla_attacks)

3. BONUS Insertar los datos en las tablas.

 Nota Esta parte del pair es optativa y no ser谩 considerada para la evaluaci贸n