Es el momento de meter todos nuestros datos en SQL 💪🏽!!! En este ejercicio nos crearemos dos tablas en una BBDD creada por nosotras. Una de las tablas contendrá la información que obtuvimos de los ejercicios de pair programming de Limpieza, es decir, el data set de ataques de tiburones limpito. La segunda tabla tendrá la información obtenida en el ejercicio de pair de ETL 1.

📌 Nota Todo lo tendremos que hacer desde jupyter notebook

In [2]:
import pandas as pd
import mysql.connector
pd.options.display.max_rows=None

In [3]:
df = pd.read_csv('datos/input/attacks_clima_paises_2022-09-18.csv', index_col=0)
df.head(1)

,year,type,country,age,species_,fecha_limpia,fatal,sex,timepoint,cloudcover,...,layer400mb_direction,layer400mb_speed,layer350mb_direction,layer350mb_speed,layer300mb_direction,layer300mb_speed,layer250mb_direction,layer250mb_speed,layer200mb_direction,layer200mb_speed
0,2018,Boating,usa,57.0,White shark,Jun,N,F,97.5,6.4375,...,209.21875,3.578125,202.109375,3.9375,206.40625,4.296875,215.546875,4.71875,246.09375,5.21875

In [3]:
df.columns

Index(['year', 'type', 'country', 'age', 'species_', 'fecha_limpia', 'fatal',
       'sex', 'timepoint', 'cloudcover', 'highcloud', 'midcloud', 'lowcloud',
       'temp2m', 'lifted_index', 'rh2m', 'msl_pressure', 'prec_amount',
       'snow_depth', 'wind10m.speed', 'latitud', 'longitud', 'rh_layer_950mb',
       'rh_layer_900mb', 'rh_layer_850mb', 'rh_layer_800mb', 'rh_layer_750mb',
       'rh_layer_700mb', 'rh_layer_650mb', 'rh_layer_600mb', 'rh_layer_550mb',
       'rh_layer_500mb', 'rh_layer_450mb', 'rh_layer_400mb', 'rh_layer_350mb',
       'rh_layer_300mb', 'rh_layer_250mb', 'rh_layer_200mb',
       'layer950mb_direction', 'layer950mb_speed', 'layer900mb_direction',
       'layer900mb_speed', 'layer850mb_direction', 'layer850mb_speed',
       'layer800mb_direction', 'layer800mb_speed', 'layer750mb_direction',
       'layer750mb_speed', 'layer700mb_direction', 'layer700mb_speed',
       'layer650mb_direction', 'layer650mb_speed', 'layer600mb_direction',
       'layer600mb_speed', 'layer550mb_direction', 'layer550mb_speed',
       'layer500mb_direction', 'layer500mb_speed', 'layer450mb_direction',
       'layer450mb_speed', 'layer400mb_direction', 'layer400mb_speed',
       'layer350mb_direction', 'layer350mb_speed', 'layer300mb_direction',
       'layer300mb_speed', 'layer250mb_direction', 'layer250mb_speed',
       'layer200mb_direction', 'layer200mb_speed'],
      dtype='object')

1. Cread la BBDD con el nombre de tiburones.

In [6]:
def crear_bbdd(nombre_bbdd):

    mydb = mysql.connector.connect(
      host="127.0.0.1",
      user="root",
      password="AlumnaAdalab" 
    )
    print("Conexión realizada con éxito")
    
    mycursor = mydb.cursor()

    try:
        mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {nombre_bbdd};")
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [7]:
bbdd = crear_bbdd('tiburones')

Conexión realizada con éxito
CMySQLCursor: CREATE DATABASE IF NOT EXISTS tiburones;

2. Cread las tablas de la BBDD:
- Tabla ataques
- Tabla clima

In [8]:
def crear_insertar_tabla(nombre_bbdd, contraseña, query):
    
    # nos conectamsos con el servidor usando el conector de sql
    cnx = mysql.connector.connect(user='root', password=f"{contraseña}",
                                     host='127.0.0.1', database=f"{nombre_bbdd}")
    # iniciamos el cursor
    mycursor = cnx.cursor()
    
    # intentamos hacer la query
    try: 
        mycursor.execute(query)
        cnx.commit() 
    
    # en caso de que podamos ejecutar la query devuelvenos un error para saber en que nos estamos equivocando
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

Creación de la tabla `ataques`

In [9]:
tabla_attacks = ''' 
    CREATE TABLE IF NOT EXISTS `attacks` (
    `id_attacks` INT NOT NULL AUTO_INCREMENT,
    `id_climate` INT NOT NULL,
    `year` INT DEFAULT NULL,
    `type` VARCHAR(50) DEFAULT NULL, 
    `country` VARCHAR(50) DEFAULT NULL,  
    `age` FLOAT DEFAULT NULL,
    `species` VARCHAR(50) DEFAULT NULL,
    `date` VARCHAR (10) DEFAULT NULL,
    `fatal` CHAR (1) DEFAULT NULL,
    `sex` CHAR (1) DEFAULT NULL,
    PRIMARY KEY (`id_attacks`),
    INDEX `fk_attacks_climate` (`id_climate` ASC),
    CONSTRAINT `fk_attacks_climate`
    FOREIGN KEY (`id_climate`)
    REFERENCES `tiburones`.`climate` (`id_climate`)
    )
    
    ENGINE = InnoDB;
    '''

Creación de la tabla `clima`

In [10]:
tabla_climate = '''
       CREATE TABLE IF NOT EXISTS `climate` (
       `id_climate` INT NOT NULL AUTO_INCREMENT,
       `country` VARCHAR(50) DEFAULT NULL,  
       `timepoint` FLOAT DEFAULT NULL, 
       `cloudcover` FLOAT DEFAULT NULL, 
       `highcloud` FLOAT DEFAULT NULL, 
       `midcloud` FLOAT DEFAULT NULL, 
       `lowcloud` FLOAT DEFAULT NULL,
       `temp2m` FLOAT DEFAULT NULL, 
       `lifted_index` FLOAT DEFAULT NULL, 
       `rh2m` FLOAT DEFAULT NULL, 
       `msl_pressure` FLOAT DEFAULT NULL, 
       `prec_amount` FLOAT DEFAULT NULL,
       `snow_depth` FLOAT DEFAULT NULL, 
       `wind_speed` FLOAT DEFAULT NULL, 
       `latitud` FLOAT DEFAULT NULL, 
       `longitud` FLOAT DEFAULT NULL, 
       `rh_layer_950mb` FLOAT DEFAULT NULL,
       `rh_layer_900mb` FLOAT DEFAULT NULL, 
       `rh_layer_850mb` FLOAT DEFAULT NULL, 
       `rh_layer_800mb` FLOAT DEFAULT NULL, 
       `rh_layer_750mb` FLOAT DEFAULT NULL,
       `rh_layer_700mb` FLOAT DEFAULT NULL, 
       `rh_layer_650mb` FLOAT DEFAULT NULL, 
       `rh_layer_600mb` FLOAT DEFAULT NULL, 
       `rh_layer_550mb` FLOAT DEFAULT NULL,
       `rh_layer_500mb` FLOAT DEFAULT NULL,
       `rh_layer_450mb` FLOAT DEFAULT NULL, 
       `rh_layer_400mb` FLOAT DEFAULT NULL, 
       `rh_layer_350mb` FLOAT DEFAULT NULL,
       `rh_layer_300mb` FLOAT DEFAULT NULL,
       `rh_layer_250mb` FLOAT DEFAULT NULL, 
       `rh_layer_200mb` FLOAT DEFAULT NULL,
       `layer950mb_direction` FLOAT DEFAULT NULL, 
       `layer950mb_speed` FLOAT DEFAULT NULL, 
       `layer900mb_direction` FLOAT DEFAULT NULL,
       `layer900mb_speed` FLOAT DEFAULT NULL, 
       `layer850mb_direction` FLOAT DEFAULT NULL, 
       `layer850mb_speed` FLOAT DEFAULT NULL,
       `layer800mb_direction` FLOAT DEFAULT NULL, 
       `layer800mb_speed` FLOAT DEFAULT NULL, 
       `layer750mb_direction` FLOAT DEFAULT NULL,
       `layer750mb_speed` FLOAT DEFAULT NULL, 
       `layer700mb_direction` FLOAT DEFAULT NULL, 
       `layer700mb_speed` FLOAT DEFAULT NULL,
       `layer650mb_direction` FLOAT DEFAULT NULL, 
       `layer650mb_speed` FLOAT DEFAULT NULL,
       `layer600mb_direction` FLOAT DEFAULT NULL,
       `layer600mb_speed` FLOAT DEFAULT NULL,
       `layer550mb_direction` FLOAT DEFAULT NULL, 
       `layer550mb_speed` FLOAT DEFAULT NULL,
       `layer500mb_direction` FLOAT DEFAULT NULL,
       `layer500mb_speed` FLOAT DEFAULT NULL, 
       `layer450mb_direction` FLOAT DEFAULT NULL,
       `layer450mb_speed` FLOAT DEFAULT NULL,
       `layer400mb_direction` FLOAT DEFAULT NULL,
       `layer400mb_speed` FLOAT DEFAULT NULL,
       `layer350mb_direction` FLOAT DEFAULT NULL,
       `layer350mb_speed` FLOAT DEFAULT NULL,
       `layer300mb_direction` FLOAT DEFAULT NULL,
       `layer300mb_speed` FLOAT DEFAULT NULL,
       `layer250mb_direction` FLOAT DEFAULT NULL,
       `layer250mb_speed` FLOAT DEFAULT NULL,
       `layer200mb_direction` FLOAT DEFAULT NULL,
       `layer200mb_speed` FLOAT DEFAULT NULL,
       PRIMARY KEY (`id_climate`))
    
    ENGINE = InnoDB;
       '''

Llamamos a la función para crear cada una de las tablas de nuestra BBDD.

In [11]:
crear_insertar_tabla("tiburones","AlumnaAdalab", tabla_climate)

In [12]:
crear_insertar_tabla("tiburones", "AlumnaAdalab", tabla_attacks)

3. BONUS Insertar los datos en las tablas.

📌 Nota Esta parte del pair es optativa y no será considerada para la evaluación

In [11]:
# Iteramos por cada fila del dataframe

for indice, fila in df.iterrows():
    print(indice, "------>", fila)
    break

0 ------> year                           2018
type                        Boating
country                         usa
age                            57.0
species_                White shark
fecha_limpia                    Jun
fatal                             N
sex                               F
timepoint                      97.5
cloudcover                   6.4375
highcloud                   -9999.0
midcloud                    -9999.0
lowcloud                    -9999.0
temp2m                      23.5625
lifted_index                   -1.0
rh2m                         8.6875
msl_pressure             1014.46875
prec_amount                3.515625
snow_depth                      0.0
wind10m.speed               2.40625
latitud                    39.78373
longitud                -100.445882
rh_layer_950mb            11.484375
rh_layer_900mb                12.75
rh_layer_850mb                11.75
rh_layer_800mb               9.9375
rh_layer_750mb              9.28125
rh_layer_700mb             9.453125
rh_layer_650mb             8.546875
rh_layer_600mb             5.921875
rh_layer_550mb                4.875
rh_layer_500mb             4.109375
rh_layer_450mb                4.375
rh_layer_400mb             5.796875
rh_layer_350mb             7.609375
rh_layer_300mb              8.09375
rh_layer_250mb             9.796875
rh_layer_200mb                4.875
layer950mb_direction      143.59375
layer950mb_speed            2.40625
layer900mb_direction     162.109375
layer900mb_speed             2.3125
layer850mb_direction      178.59375
layer850mb_speed             2.3125
layer800mb_direction     187.734375
layer800mb_speed            2.46875
layer750mb_direction     245.859375
layer750mb_speed             2.5625
layer700mb_direction       272.8125
layer700mb_speed           2.796875
layer650mb_direction      273.90625
layer650mb_speed              2.875
layer600mb_direction      267.96875
layer600mb_speed           3.015625
layer550mb_direction     233.046875
layer550mb_speed           3.140625
layer500mb_direction      203.59375
layer500mb_speed           3.265625
layer450mb_direction      198.90625
layer450mb_speed            3.46875
layer400mb_direction      209.21875
layer400mb_speed           3.578125
layer350mb_direction     202.109375
layer350mb_speed             3.9375
layer300mb_direction      206.40625
layer300mb_speed           4.296875
layer250mb_direction     215.546875
layer250mb_speed            4.71875
layer200mb_direction      246.09375
layer200mb_speed            5.21875
Name: 0, dtype: object

In [35]:
# Comprobamos que accede a cada elemento de cada fila

for indice, fila in df.iterrows():
    print(fila["species_"])
    break

White shark

In [36]:
for indice, fila in df.iterrows():
    print(fila["fecha_limpia"])
    break

Jun

In [1]:
# Nos hará falta el id de la tabla climate, asi que definimos una funcion para extraerlo
def sacar_id_climate(contraseña, nombre_bbdd, pais):
    
    # conectamos
    cnx = mysql.connector.connect(user='root', password= f'{contraseña}',
                                  host='127.0.0.1', database=f"{nombre_bbdd}")
    mycursor = cnx.cursor()

    # creamos la query para sacar el id del pais que queramos
    query_sacar_id = f"SELECT id_climate FROM climate WHERE country = '{pais}'"
    
    # puede que el id del país que estemos intentando insertar no este en nuestra BBDD. Por lo que vamos a hacer un try except para que no nos falle el código
    try: 
        mycursor.execute(query_sacar_id)
        id_ = mycursor.fetchall()[0][0]
        return id_
    
    except: 
        return "Sorry, no tenemos ese pais en la BBDD y por lo tanto no te podemos dar su id. "

In [16]:
for indice, fila in df.iterrows(): # itereamos por el dataframe.
    # Sacamos el id de climate
    id_climate = sacar_id_climate('Padme2015!', 'tiburones', fila['country'])
    # Definimos la query para insertar valores en la tabla attacks
    query_attacks = f"""
            INSERT INTO attacks (id_climate, year, type, country, age, species, date, fatal,
            sex)
            VALUES ("{id_climate}","{fila['year']}", "{fila['type']}", "{fila['country']}", "{fila['age']}", 
            "{fila['species_']}", "{fila['fecha_limpia']}", "{fila['fatal']}", "{fila['sex']}");
            """
    crear_insertar_tabla("tiburones", "AlumnaAdalab", query_attacks)

1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001
Message Data too long for column 'fatal' at row 1
1406 (22001): Data too long for column 'fatal' at row 1
Error Code: 1406
SQLSTATE 22001

In [15]:
for indice, fila in df.iterrows(): # iteramos por el dataframe.

    # Definimos la query para insertar valores en la tabla climate
    
    query_climate = f"""
            INSERT INTO climate (country, timepoint, cloudcover, highcloud, midcloud, lowcloud,
            temp2m, lifted_index, rh2m, msl_pressure, prec_amount,
            snow_depth, wind_speed, latitud, longitud, rh_layer_950mb,
            rh_layer_900mb, rh_layer_850mb, rh_layer_800mb, rh_layer_750mb,
            rh_layer_700mb, rh_layer_650mb, rh_layer_600mb, rh_layer_550mb,
            rh_layer_500mb, rh_layer_450mb, rh_layer_400mb, rh_layer_350mb,
            rh_layer_300mb, rh_layer_250mb, rh_layer_200mb,
            layer950mb_direction, layer950mb_speed, layer900mb_direction,
            layer900mb_speed, layer850mb_direction, layer850mb_speed,
            layer800mb_direction, layer800mb_speed, layer750mb_direction,
            layer750mb_speed, layer700mb_direction, layer700mb_speed,
            layer650mb_direction, layer650mb_speed, layer600mb_direction,
            layer600mb_speed, layer550mb_direction, layer550mb_speed,
            layer500mb_direction, layer500mb_speed, layer450mb_direction,
            layer450mb_speed, layer400mb_direction, layer400mb_speed,
            layer350mb_direction, layer350mb_speed, layer300mb_direction,
            layer300mb_speed, layer250mb_direction, layer250mb_speed,
            layer200mb_direction, layer200mb_speed)
           
            VALUES ("{fila['country']}","{fila['timepoint']}", "{fila['cloudcover']}", "{fila['highcloud']}", "{fila['midcloud']}","{fila['lowcloud']}",
            "{fila['temp2m']}", "{fila['lifted_index']}", "{fila['rh2m']}", "{fila['msl_pressure']}","{fila['prec_amount']}",
            "{fila['snow_depth']}", "{fila['wind10m.speed']}", "{fila['latitud']}", "{fila['longitud']}","{fila['rh_layer_950mb']}",
            "{fila['rh_layer_900mb']}", "{fila['rh_layer_850mb']}", "{fila['rh_layer_800mb']}", "{fila['rh_layer_750mb']}",
            "{fila['rh_layer_700mb']}", "{fila['rh_layer_650mb']}", "{fila['rh_layer_600mb']}", "{fila['rh_layer_550mb']}",
            "{fila['rh_layer_500mb']}", "{fila['rh_layer_450mb']}", "{fila['rh_layer_400mb']}", "{fila['rh_layer_350mb']}",
            "{fila['rh_layer_300mb']}", "{fila['rh_layer_250mb']}", "{fila['rh_layer_200mb']}", 
            "{fila['layer950mb_direction']}", "{fila['layer950mb_speed']}",
            "{fila['layer900mb_direction']}", "{fila['layer900mb_speed']}",
            "{fila['layer850mb_direction']}", "{fila['layer850mb_speed']}",
            "{fila['layer800mb_direction']}", "{fila['layer800mb_speed']}",
            "{fila['layer750mb_direction']}", "{fila['layer750mb_speed']}",
            "{fila['layer700mb_direction']}", "{fila['layer700mb_speed']}",
            "{fila['layer650mb_direction']}", "{fila['layer650mb_speed']}",
            "{fila['layer600mb_direction']}", "{fila['layer600mb_speed']}",
            "{fila['layer550mb_direction']}", "{fila['layer550mb_speed']}",
            "{fila['layer500mb_direction']}", "{fila['layer500mb_speed']}",
            "{fila['layer450mb_direction']}", "{fila['layer450mb_speed']}",
            "{fila['layer400mb_direction']}", "{fila['layer400mb_speed']}",
            "{fila['layer350mb_direction']}", "{fila['layer350mb_speed']}",
            "{fila['layer300mb_direction']}", "{fila['layer300mb_speed']}",
            "{fila['layer250mb_direction']}", "{fila['layer250mb_speed']}",
            "{fila['layer200mb_direction']}", "{fila['layer200mb_speed']}");
            """
    crear_insertar_tabla("tiburones", "AlumnaAdalab", query_climate)

##### Tabla `attacks`
![Comprobaciones en mysql](Comprobando2.png)

##### Tabla `climate`
![Comprobaciones en mysql](Comprobando.png)

>* Hemos podido insertar la mayor parte de los datos, sin embargo no nos ha dado tiempo a revisarlo correctamente para incluir el código en los ejecutables .py
>
>* Nos hacemos la idea de cómo podría ser este proceso y los errores que pueden surgir.